body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10vh;
    height: 100vh;
    margin: 0;
    background: white;
    font-family: 'Montserrat', sans-serif;
    font-size: smaller;
}
.blog-content {
    text-align: left;
    width: 50%;
    margin-bottom: 30px;
}
a {
    color: black;
    text-decoration: none;
}
h2 {
    margin-bottom: 0;
}
p {
    margin-top: 5px;
}